In [1]:
import pandas as pd

In [58]:
df = pd.read_csv('student_results.csv')
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [59]:
df.isnull().sum()

Student ID                0
Class                     0
Study hrs                 0
Sleeping hrs              0
Social Media usage hrs    0
Mobile Games hrs          0
Percantege                0
dtype: int64

In [137]:
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [138]:
x = df.drop(columns = 'Percantege')
x

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs
0,1001,10,2,9,3,5
1,1002,10,6,8,2,0
2,1003,10,3,8,2,4
3,1004,11,0,10,1,5
4,1005,11,4,7,2,0
5,1006,11,10,7,0,0
6,1007,12,4,6,0,0
7,1008,12,10,6,2,0
8,1009,12,2,8,2,4
9,1010,12,6,9,1,0

In [139]:
y= df['Percantege']
y

0    50
1    80
2    60
3    45
4    75
5    96
6    80
7    90
8    60
9    85
Name: Percantege, dtype: int64

In [285]:
from sklearn.model_selection import train_test_split

In [318]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.50,random_state=18)

In [319]:
x_train

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs
1,1002,10,6,8,2,0
6,1007,12,4,6,0,0
5,1006,11,10,7,0,0
8,1009,12,2,8,2,4
3,1004,11,0,10,1,5

In [320]:
x_test

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs
7,1008,12,10,6,2,0
9,1010,12,6,9,1,0
0,1001,10,2,9,3,5
4,1005,11,4,7,2,0
2,1003,10,3,8,2,4

In [321]:
y_train

1    80
6    80
5    96
8    60
3    45
Name: Percantege, dtype: int64

In [322]:
y_test

7    90
9    85
0    50
4    75
2    60
Name: Percantege, dtype: int64

In [323]:
from sklearn.preprocessing import StandardScaler

In [324]:
sc = StandardScaler()

In [325]:
x_train_scaled = sc.fit_transform(x_train)

In [326]:
x_test_scaled = sc.transform(x_test)

In [327]:
x_train_scaled

array([[-1.4896906 , -1.60356745,  0.46499055,  0.15075567,  1.11803399,
        -0.80822386],
       [ 0.57932412,  1.06904497, -0.11624764, -1.35680105, -1.11803399,
        -0.80822386],
       [ 0.16552118, -0.26726124,  1.62746694, -0.60302269, -1.11803399,
        -0.80822386],
       [ 1.40693001,  1.06904497, -0.69748583,  0.15075567,  1.11803399,
         0.98782916],
       [-0.66208471, -0.26726124, -1.27872403,  1.6583124 ,  0.        ,
         1.43684242]])

In [328]:
from sklearn.linear_model import LinearRegression

In [329]:
lin = LinearRegression()

In [330]:
lin.fit(x_train,y_train)

LinearRegression()

In [331]:
lin.predict(x_train)

array([80., 80., 96., 60., 45.])

In [332]:
lin.score(x_train,y_train)

1.0

In [333]:
lin.score(x_test,y_test)

0.866494111952633